body{
  /*background-color: #eeeeee;*/
}

@font-face{
	font-family: 'poppins';
	src: url('../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face{
	font-family: 'avenir';
	src: url('../fonts/avenirLtStd/AvenirLTStd-Medium.otf');
}

@font-face{
	font-family: 'avenir';
	src: url('../fonts/avenirLtStd/AvenirLTStd-Black.otf');
	font-weight: 200;
}

@font-face{
	font-family: 'avenir';
	src: url('../fonts/avenirLtStd/AvenirLTStd-Heavy.otf');
	font-weight: bold;
}

@font-face{
	font-family: 'avenir';
	src: url('../fonts/avenirLtStd/AvenirLTStd-Light.otf');
	font-weight: 100;
}

@font-face{
  font-family: 'lato';
  src: url('../fonts/Lato/Lato-Regular.ttf');
}


*:not([class*="icon"]):not([class*="fa"]):not([class*="lato-font"]){
	font-family: "avenir", "Karla", "roboto", "sans-serif"!important;
}

.lato-font{
  font-family: "lato", "Karla", "roboto", "sans-serif"!important;
}


.nav-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  z-index: 10;
}
.nav-bottom .material-icons{
  color: white;
  text-shadow: 1px 1px 1px #96fff5, -1px -1px 1px #96fff5, -1px 1px 1px #96fff5, 1px -1px 1px #96fff5;
}
.nav-bottom .dropdown-item{
  white-space: normal;
  font-size: 8pt;
}
#notification-list{
  max-height: 250px;
  overflow-y: auto;
  width: 250px;
}

.notification{
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  text-align: center;
  border-radius: 50%;
  font-size: 8pt;
  left: 15px;
  top: -5px;
  color: white;
  text-shadow: 0 0 0 black;
}

.btn-circle{
	color: rgba(200,200,200,0.5)!important;
	background-color: rgba(255,255,255,0.5);
	width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
}
.prev-slide, .next-slide{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.prev-slide{
	left: 0;
}
.next-slide{
	right:0;
}

.header-kb{
  background-color: grey;
}

.breakcump{
  background-color: #0a260a;
  color: #fff;
}

.color-green{
  color: #0a260a;
  font-weight: bold;
}

.navbar-light .navbar-toggler{
  color: #000;
}

.centrado {
  text-align: center;
}

/* Bienvenida */
.icon-breakcump {
  padding: 20px 0;
  text-align: center;
  margin: 0px auto;
}

/* Registro */
.register{
  background-color: #c6c8c5;
}

.register .kb-link{
  padding: 10px 0px;
  color: #fff;
}

.kb-link-active{
  background-color: #0a260a;
}

.form-register fieldset:not(:first-of-type) {
    display: none;
}

.form-registro-step{
  background-color: #fff;
  border-radius: 10px;
}

/**/
.form-register {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

.form-categoria {
  width: 100%;
  max-width: 800px;
  padding: 15px;
  margin: auto;
}

.bto{
  margin: auto;
}

/* PRODUCTO*/
.producto-img img{
  width: 100%;
  max-height: 250px;
}

/*Check*/
.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #28a745;
  background-color: #28a745;
}

.custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 0.2rem #28a745;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
  border-color: #28a745;
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  color: #fff;
  background-color:#28a745;
  border-color: #28a745;
}

.custom-control-input[disabled] ~ .custom-control-label, .custom-control-input:disabled ~ .custom-control-label {
  color: #6c757d;
}

.custom-control-input[disabled] ~ .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #e9ecef;
}

.form-register .checkbox {
  font-weight: 400;
}

.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-register .form-control:focus {
  z-index: 2;
}

.select2-container--default .select2-selection--single{
    padding: 8px;
    height: 45px;
    width: 470px;
    border: 1px solid #ced4da;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 45px;
}


.select2-container, .select2-selection{
	width: 100%!important;
}