ul {
    padding: 0;
    li {
        list-style: none;
    }
}

.final-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stack {
    position: relative;
    height: 250px;
    width: 400px;
    max-width: calc(100vw - 60px);
    margin: 50px auto;
}

.card {
    //Style of the card
    height: 250px;
    width: 400px;
    max-width: 100%;
    padding: 30px;
    background: white;
    border: 1px solid grey;
    border-radius: 10px;
    //Position
    position: absolute;
    top: 0;
    left: 0;
    .card-illustration {
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: 50% 50%;
        transform: scale(1);
        transition: transform 0.5s;
    }
    &:hover,
    &:focus {
        .card-illustration {
            transform: scale(1.1);
        }
    }
}

//proper style for js mecanism
.js-swiping-card {
    transition: transform 0.5s;
    &.done {
        display: none;
    }
}


/*
  @TODO :
  - add text animation on cards ?
  - add proper behaviour depending on media queries (faster on mobile than on desktop, different size, ...)
  */

.carousel-nav-icon {
    height: 48px;
    width: 48px;
}

.carousel-item {
    .col,
    .col-sm,
    .col-md {
        margin: 8px;
        height: 300px;
        background-size: cover;
        background-position: center center;
    }
}

.carousel-item-row {
    height: 450px;
}

.i-item {
    background-size: cover;
    background-repeat: no-repeat;
}

.arrow-right {
    margin-right: -100px;
}


/* nothing below this point is needed*/

@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap');